body {
    height: auto;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#title {
    text-transform: uppercase;
    text-decoration: underline;
    color: white;
    text-shadow: 0 2px 12px white;
    font-size: 36px;
}

button {
    border-radius: 100px;
    height: 180px;
    width: 400px;
    background-color: black;
    border: none;
    box-shadow: 0 0 8px 5px white;
    font-size: 36px;
    margin: 20px;
    cursor: pointer;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

#new-game-div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#new-game {
    height: 60px;
    width: 350px;
}

p {
    padding: 0;
    margin: 0;
}

.base-glow {
    color: white;
    text-shadow: 0px 0px 10px white;
}

.highlight-glow {
    color: aquamarine;
    text-shadow: 0px 0px 10px aquamarine;
}

img {
    width: 100px;
}

.base-color {
    filter: invert(97%) sepia(12%) saturate(482%) hue-rotate(267deg) brightness(118%) contrast(100%);
}

.highlight-color {
    filter: invert(83%) sepia(68%) saturate(341%) hue-rotate(80deg) brightness(110%) contrast(101%);
}

#fist {
    transform: rotate(-90deg);
}

#hand {
    transform: rotate(-90deg);
}

#fingers {
    transform: rotate(-90deg);
    margin-top: -5px;
}